<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <style>
        body { font-family: sans-serif; max-width: 400px; margin: 50px auto; padding: 20px; background: #f4f4f4; text-align: center;}
        form { background: white; padding: 30px; border-radius: 8px; box-shadow: 0 4px 10px rgba(0,0,0,0.1); }
        input { width: 100%; padding: 10px; margin: 10px 0; box-sizing: border-box; }
        button { width: 100%; padding: 10px; background: #333; color: white; border: none; border-radius: 4px; font-weight: bold; cursor: pointer;}
    </style>
</head>
<body>
    <h1>Crear Cuenta</h1>
    <form method="POST">
        <p>💡 Truco: Si tu usuario es <b>admin</b> serás Administrador.</p>
        <input type="text" name="username" placeholder="Elige Usuario" required>
        <input type="password" name="password" placeholder="Elige Contraseña" required>
        <button type="submit">Registrarse</button>
        <p><a href="/login">Volver al Login</a></p>
    </form>
</body>
</html>